body {
  background-color: rgb(53, 53, 53);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

header {
  width: 100%;
  height: 80px;
}

nav {
  float: right;
}
.nav-items {
  padding: 0 16px;
}

.nav-items > li {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 4px;
  margin: 0px 4px;
}

.nav-items > li > a {
  line-height: 24px;
  color: rgb(255, 255, 255);
}

.nav-items > li > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-items > li > img {
  width: 32px;
  height: 32px;
}

.nav-items > li > button {
  display: block;
  background-color: blueviolet;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: aliceblue;
  border-width: 0;
}
.nav-items > li > button:hover {
  cursor: pointer;
}

.nav-li-button:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  cursor: pointer;
}

.center-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#google-logo {
  width: 300px;
  height: 96px;
  margin-top: 96px;
  margin-bottom: 48px;
}

.input-div {
  background-color: aliceblue;
  border-radius: 40px;
  width: 520px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 16px;
  margin-bottom: 16px;
}

.input-div > img {
  width: 24px;
  height: 40px;
  object-fit: contain;
}

.input-div > input {
  width: 472px;
  height: 40px;
  border: 0;
  outline: 0;
}

.plus-div-div {
  width: 112px;
  height: 112px;
  display: flex;
  padding: 8px;
  align-items: center;
  flex-direction: column;
}
.plus-div-div:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  cursor: pointer;
}

.plus-div {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  margin: auto;
}

.plus-div > img {
  padding: 12px;
}

.plus-div-div > span {
  color: aliceblue;
}
